In [1]:
print("HALO DUNIA")

HALO DUNIA

In [ ]:
list = [1, 2, 'xyz', 3.14]
print(list)
print(list[0:2])
print(list[:2])
print(list[-1])

[1, 2, 'xyz', 3.14]
[1, 2]
[1, 2]
3.14

In [8]:
del list[-1]
print(list)

[1, 2, 'xyz']

In [13]:
i = 0
for elemen in list:
    print(f"Elemen ke-{i} adalah {elemen}")

Elemen ke-0 adalah 1
Elemen ke-0 adalah 2
Elemen ke-0 adalah xyz

In [18]:
for i in range (1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(len(list)):
    print(f"Elemen ke-{i} adalah {list[i]}")

Elemen ke-0 adalah 1
Elemen ke-1 adalah 2
Elemen ke-2 adalah xyz

In [17]:
# [ expr for element in iterable]
[i for i in range(1,11)]
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
[num for num in range(1, 11) if num % 2 == 0]

[2, 4, 6, 8, 10]

In [ ]:
gan_gen = []
plat_mobil = [2222, 3333, 4444, 5555, 6666, 7777, 8888, 9999]

for i in plat_mobil:
    if i % 2 == 0:
        gan_gen.append("Genap")
    else:
        gan_gen.append("Ganjil")

print(gan_gen)

['Genap', 'Ganjil', 'Genap', 'Ganjil', 'Genap', 'Ganjil', 'Genap', 'Ganjil']

In [32]:
['genap' if i % 2 == 0 else 'ganjil' for i in plat_mobil]

['genap', 'ganjil', 'genap', 'ganjil', 'genap', 'ganjil', 'genap', 'ganjil']

In [33]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [34]:
str = 'hello world!'

for huruf in str:
    print(huruf)

h
e
l
l
o

w
o
r
l
d
!

In [35]:
tampung = str.split()
print(tampung)

['hello', 'world!']

In [40]:
order = '1,200-10-01 00:00:00.0,1,COMPLETE'
order.split(',')

['1', '200-10-01 00:00:00.0', '1', 'COMPLETE']

In [43]:
order.split(',')[1]

'200-10-01 00:00:00.0'

In [42]:
order.split(',')[-1]

'COMPLETE'

In [46]:
order.split(',')[-1].lower()

'complete'

In [47]:
int(order.split(',')[0])

1

In [ ]:
tup1 = ("Rohan", "Physics", 21, 69.75)

del tup1[0]

TypeError: 'tuple' object doesn't support item deletion

In [49]:
my_set = {1, 2, 2, 3, 3, 4, 5, 5}
print (my_set)

{1, 2, 3, 4, 5}

In [50]:
sport_player = {
    "Name": "Sachin Tendulkar",
    "Age": 48,
    "Sport": "Cricket"
}

print(sport_player)

{'Name': 'Sachin Tendulkar', 'Age': 48, 'Sport': 'Cricket'}

In [52]:
student_info = dict(name = "Alice", age=21, major="Computer Science", graduation_year=2023)
print(student_info)

{'name': 'Alice', 'age': 21, 'major': 'Computer Science', 'graduation_year': 2023}

In [58]:
for key in student_info:
    print("Keys:", key)

Keys: name
Keys: age
Keys: major
Keys: graduation_year

In [55]:
for value in student_info.values():
    print("Values:", value)

Values: Alice
Values: 21
Values: Computer Science
Values: 2023

In [57]:
for key, value in student_info.items():
    print(key, ":", value)

name : Alice
age : 21
major : Computer Science
graduation_year : 2023

In [ ]:
orderd = {
    'order_id': 1,
    'order_date': '2013-07-25 00:00:00.0',
    'order_customer_id': 11599,
    'order_status':'CLOSED'
}

In [60]:
# Tampilkan semua keys
for key in orderd:
    print("Keys:", key)

Keys: order_id
Keys: order_date
Keys: order_customer_id
Keys: order_status

In [61]:
# Tampilkan semua values
for value in orderd.values():
    print("Values:", value)

Values: 1
Values: 2013-07-25 00:00:00.0
Values: 11599
Values: CLOSED

In [68]:
# Ambil order_customer_id
order_customer_id = orderd['order_customer_id']
print(order_customer_id)

11599

In [70]:
orderd.get('order_customer_id')

11599

In [69]:
# Iterate dan tampilkan keys, values, dan tipe data
for key, value in orderd.items():
    print(f"Key:  {key}, Value:  {value}, Type: {type(value)}")

Key:  order_id, Value:  1, Type: <class 'int'>
Key:  order_date, Value:  2013-07-25 00:00:00.0, Type: <class 'str'>
Key:  order_customer_id, Value:  11599, Type: <class 'int'>
Key:  order_status, Value:  CLOSED, Type: <class 'str'>

In [71]:
students = {
    "Alice": {"age": 21, "major": "Computer Science"},
    "Bob": {"age": 20, "major": "Engineering"},
    "Charlie": {"age": 22, "major": "Mathematics"}
}

In [72]:
# Tampilkan data Bob
students["Bob"]

{'age': 20, 'major': 'Engineering'}

In [74]:
# Tampilkan umur Alice
students["Alice"].get('age')

21

In [77]:
students["Alice"]['age']

21

In [79]:
# Ubah major Charlie menjadi 'Data Science'
students["Charlie"]['major'] = 'Data Science'
students["Charlie"]['major']

'Data Science'

In [82]:
# Iterate dan tampilkan nama mahasiswa dan semua datanya
for name, data in students.items():
    print(f"{name},{data}")

Alice,{'age': 21, 'major': 'Computer Science'}
Bob,{'age': 20, 'major': 'Engineering'}
Charlie,{'age': 22, 'major': 'Data Science'}

In [87]:
for name, details in students.items():
    print(f'Nama: {name}')
    for key, value in details.items():
        print(f'{key}: {value}')
    print()

Nama: Alice
age: 21
major: Computer Science

Nama: Bob
age: 20
major: Engineering

Nama: Charlie
age: 22
major: Data Science

In [ ]:
# fungsi biasa
def kuadrat(n):
    return n**2

kuadrat(5)

25

In [3]:
# fungsi lambda -> fungsi tanpa nama yang dipakai sekali
lambda n: n**2

In [5]:
[kuadrat (i) for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
l = range(1, 10) #iterable/sequences
# list comprehension
[kuadrat(i) for i in l]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
# map funcion
map(kuadrat, l)

In [10]:

list(map(kuadrat,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
list(map(lambda n: n**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
l2 = [1, 2, 3, 2, 4, 2]
list(filter(lambda x:x == 2, l2))

[2, 2, 2]